*{  padding: 0;
    margin:0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    resize: none;
}

p{
    color: rgb(227, 227, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

*::-webkit-scrollbar {
    display: none;
}

.centering{
    justify-content: center;
    align-items: center;
    display: flex;
}


body{
    background-color:  rgb(12, 43, 56); 
}

.underHeaders{
    color: rgb(180, 238, 241);
}

  

#landingGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 80px 420px 90px 370px 370px 370px 40px 145px;
    grid-template-areas: 
    "he na"
    "ar1I ar1I"
    "ar5I ar5I"
    "ar2I ar2I"
    "ar3I ar3I"
    "ar4I ar4I"
    ".. .."
    "fo fo"; 
}

header{
    grid-area: he;
    background-color: rgb(13, 56, 74);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}


#logo{

    width: 73px;
    margin-left: 30px;
    display: none;
}

footer{
    grid-area: fo;
    background-color: rgb(13, 56, 74);
    z-index: 1;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#footerSection1{
    width: 100%;
    height: auto;
}

#footerSection2{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content:
}

#footerSection1 h2{
    font-size: 25px;
}

#footerSection2 h3{
    font-size: 15px;
    margin-top: 2%;
}

#companyTitle{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

nav{
    display: flex;
    grid-area: na;
    background-color: rgb(13, 56, 74);
    align-items: center;
    justify-content: flex-end;


}

#landingArticleWithPicture{
    grid-area: ar1I;
    z-index: 0;

}

#landingPicture{
    filter: blur(5px);
    height: 100%;
    width: 100%;
    background-image: url(../img/lecture_for_landing_page.jpg);
    background-position: center;
    background-size: cover;
}

#landingQuote{
    color: white;
    position: absolute;
    font-size: 27px;
    width: 75%;
    text-align: center;
}

#landingArticle2{
    grid-area: ar2I;
    flex-direction:column;
}

.landingArticleDarkBox{
    width: 80%;
    height: 80%;
    flex-direction: column;
    border: solid white 2px;
}

#landingArticleDarkBox1{
    background-image: url(../img/picture_of_man_holding_presentation_with_hat.jpg);
    background-size: cover;
    background-position: center;
}

#landingArticleDarkBox2{
    background-image: url(../img/picture_of_negotiation.jpg);
    background-size: cover;
    background-position: center;
}

#landingArticleDarkBox3{
    background-image: url(../img/picture_of_payment.jpg);
    background-size: cover;
    background-position: center;
}

#landingArticle3{
    grid-area: ar3I;
    flex-direction: column;
}

#landingArticle4{
    grid-area: ar4I;
    flex-direction: column;
}

#landingArticle5{
    grid-area: ar5I; 
}

#landingArticle5 h2{
    width: 85%;
    text-align: center;
}


.landingArticleH2{
    margin-bottom: 1%;
    text-align: center;
}   


#ourTeamGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 80px 60px 700px 60px 700px 60px 700px 60px 700px 60px 700px 60px 700px 60px 700px 60px 700px 250px 145px;
    grid-template-areas:    
    "he na"
    "oths oths"
    "ota1 ota1"
    ".. .."
    "ota2 ota2"
    ".. .."
    "ota3 ota3"
    ".. .."
    "ota4 ota4"
    ".. .."
    "ota5 ota5"
    ".. .."
    "ota6 ota6"
    ".. .."
    "ota7 ota7"
    ".. .."
    "ota8 ota8"
    "ota9 ota9"
    "fo fo";
    ;
    
}

h2{
    color: white;
}

h3{ 
    color: white;
}

#ourTeamHeader{
    font-size: 30px;
}

#ourTeamHeaderSection{
    grid-area: oths;
    
}

#ourTeamArticle1{
    grid-area: ota1;

}

#ourTeamArticle2{
    grid-area: ota2;
}

#ourTeamArticle3{
    grid-area: ota3;
}

#ourTeamArticle4{
    grid-area: ota4;
}

#ourTeamArticle5{
    grid-area: ota5;
}

#ourTeamArticle6{
    grid-area: ota6;
}

#ourTeamArticle7{
    grid-area: ota7;
}

#ourTeamArticle8{
    grid-area: ota8;
}

#ourTeamArticle9{
    grid-area: ota9;
    justify-content: center;
}

.ourTeamArticles{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ourTeamPicture1{
    background-image: url(../img/picture_of_adam_nilsson_2.jpg);
}

#ourTeamPicture2{
    background-image: url(../img/picture_of_james_olsson.jpg);
}

#ourTeamPicture3{
    background-image: url(../img/picture_of_carl_brooker.jpg);
}

#ourTeamPicture4{
    background-image: url(../img/picture_of_axel_breitholtz.jpg);
}

#ourTeamPicture5{
    background-image: url(../img/picture_of_marius_dahlbom.jpg);
}

#ourTeamPicture6{
    background-image: url(../img/picture_of_matilda_bloom.jpg);
}

#ourTeamPicture7{
    background-image: url(../img/picture_of_wilmer_erixon.jpg);
}

#ourTeamPicture8{
    background-image: url(../img/picture_of_ebba_idmyr.jpg);
}

.ourTeamPictures{
    width: 75%;
    height: 60%;
    background-size:cover;
    margin-bottom:10%;
    background-position: center;
}


.nameTitlesDescription{
    width: 90%;
    height: 35%;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid white 2px;
}

.nameTitlesDescription h2{ 
    margin-top: 5%;
    font-size: 23px;
    width: 90%;
}

.nameTitlesDescription p{
    margin-top: 5%;
    width: 80%;

}

#boxForAreYouNext{
    background-color: rgb(0, 0, 0, 0.2);
    width: 85%;
    height: 50%;
    flex-direction: column;
    border: solid white 2px;
    text-align: center;
}

#boxForAreYouNext h2{
    font-size: 35px;
    margin-bottom: 2%;
}


#burger{
    margin-right: 25px;
    z-index: 1;
}

/* code for Our Vision*/

#ourVisionGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 80px 500px 700px 400px 700px 400px 200px 145px;
    grid-template-areas: 
    "he na"
    "ova1 ova1"
    "ova2 ova2"
    "ova3 ova3"
    "ova4 ova4"
    "ova5 ova5"
    "ova7 ova7" 
    "fo fo"
    ;
    background-color:  rgb(12, 43, 56); 
}

#ourVisionArticle1{
    grid-area: ova1;

}

#ourVisionPicture1{
        background-image: url(../img/picture_of_skyline.jpg);
        filter: blur(4px);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position:center;
    }

#ourVisionTitle{
    position: absolute;
    font-size: 30px;
    background-color: rgb(13, 56, 74,0.5);
    border-radius: 5px;
}

#ourVisionArticle2{
    grid-area: ova2;
}

#ourVisionpicture2{
    background-image: url(../img/picture_of_people_in_scycraper.jpg);
    background-size: cover;
    border: none;
    background-position: center;
}
.ourVisionBoxes{
    width:85%;
    height: 90%;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid white 2px;
}

.ourVisionBoxes p{
    margin-top: 5%;
    width:75%;
}

.ourVisionBoxes h2{
    margin-top: 7% ;
    font-size: 30px;
}

#ourVisionArticle3{
    grid-area: ova3;
}

#ourVisionArticle4{
    grid-area: ova4;
}

#ourVisionArticle5{
    grid-area: ova5;
    margin-bottom: -5%;
}


#ourVisionPicture3{
    background-image: url(../img/picture_of_people_in_class.jpg);
    border: none;
    background-position: center;
    background-size: cover;
}

#ourVisionArticle6{
    display: flex;
    grid-area: ova6;
    width: 0%;
    height: 0%;
    position:absolute;
    top: -200px;
}

#ourVisionArticle7{
    grid-area: ova7;
    flex-direction: column;
}

.ourVisionsummerCampPictures{
    width: 90%;
    height: 27%;
    background-position: center;
    background-size: cover;
}

#ourVisionPicture4{
    background-image: url(../img/picture_of_teens_walking_on_campus.jpg);
}
#ourVisionPicture5{
    background-image: url(../img/picture_of_teen_pitching.jpg);
}
#ourVisionPicture6{
    background-image: url(../img/picture_of_group_of_teens.jpg);
}

#ourVisionSummerCampBox{
    background-color: rgb(0, 0, 0, 0.2);
    border: solid 2px white;
    width: 33%;
    height: 25%;
}

#summerCampHeading{
    font-size: 30px;
    margin-bottom: 5%;
}

/* css kåd för Hire us */

#hireUsGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 80px 480px 90px 530px 40px 530px 40px 530px 90px 100px 40px 100px 40px 100px 40px 100px 40px 145px;
    grid-template-areas: 
    "he na"
    "hsa2 hsa2"
    "hsa6 hsa6"
    "hsa3 hsa3"
    ".. .."
    "hsa4 hsa4"
    ".. .."
    "hsa5 hsa5"
    "hsa10 hsa10"
    "hsa7 hsa7"
    ".. .."
    "hsa8 hsa8"
    ".. .."
    "hsa9 hsa9"
    ".. .."
    "hsa11 hsa11"
    ".. .."
    "fo fo"
    ;
}

#hireUsArticle1{
    grid-area: hsa1;
    display: flex;
    position:absolute;
    margin-top: 200px;
}


#hireUsArticle2{
    grid-area: hsa2;
}

#hireUsPicture1{
    background-image: url(../img/picture_of_man_in_suit_close_up.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#hireUsArticle2{
    grid-area: hsa2;
}

#hireUsQuoteBox{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: rgb(0, 0, 0, 0.2);
    border: solid 2px white;
    align-items: center;
    justify-content: center;
}

#hireUsQuoteBox h2{
    margin-top: 5%;
    width:75%;
    font-size: 50px;    
}

#hireUsArticle3{
    grid-area: hsa3;
    margin-top: 0;
}

.hireUsArticlesHighlight :hover{
    background-color: teal;
}

#hireUsArticle4{
    grid-area: hsa4;
}

#hireUsArticle5{
    grid-area: hsa5;
}

#hireUsArticle6{
    grid-area: hsa6;
}

#hireUsArticle6 h2{
    font-size: 30px;
}

#hireUsArticle7{
    grid-area: hsa7;
}

#hireUsArticle8{
    grid-area: hsa8;
}

#hireUsArticle9{
    grid-area: hsa9;
}

.hireUsTextBox{
    width: 80%;
    height: 95%;
    border: solid white 2px;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hireUsTextBox h2{
    margin-top: 5%;
}

.hireUsTeamBox{
    width: 80%;
    height: 95%;
    border: solid white 2px;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hireUsTeamText{
    font-size: 15px;
    margin-top: 1%;
    color:rgb(180, 238, 241)
}

.hireUsTextBox p{
    margin-top: 5%;
    width: 85%;
    font-size: auto
}

#hireUsArticle10{
    grid-area: hsa10;
}

#hireUsArticle10 h2{
    font-size: 30px;
    
}

#hireUsArticle11{
    grid-area: hsa11;
}

#hireUsContinueText{
    margin-top: 0;
}

/* css kåd för hamburgarmeny */
#burger div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px;
    border-radius: 2px;
}

#linkList{
    display: flex;
    top: -100%;
    position: absolute;
    height:100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgb(13, 56, 74, 0.99);
    z-index: 1;
    transition: 0.5s;
}

#linkList a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.linkListVisible{
    transform: translateY(100%);
}

.burgerInXForm #burgerLine1{
   transform: rotate(-45deg) translate(-5px, 6px);
   transition: all, 0.5s;
}
 
.burgerInXForm  #burgerLine2{
    opacity: 0;
}

.burgerInXForm  #burgerLine3{
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all, 0.5s;

}

@media screen and ( min-width: 700px){

    #burger{
        display: none;
    }

    #landingGridWrapper{
        display: grid;
        grid-template-columns: minmax(360px,1fr) minmax(360px,1fr) minmax(360px,1fr);
        grid-template-rows: 108px 756px 108px 648px 72px 145px;
        grid-template-areas: 
        "he na na"
        "ar1I ar1I ar1I"
        "ar5I ar5I ar5I"
            "ar2I ar3I ar4I"
        ".. .. .."
        "fo fo fo"
        ;
    }

    #logo{
        display: block
    }

    .landingArticleH2{
        margin-bottom: 3%;
    }   

    #landingArticle5 h2{
        font-size: 30px;
        margin-top: 2%;
    }

    #landingQuote{
        text-align: start;
    }

    #linkList{
        display: flex;
        flex-direction: row;
        top: 0;
        height: 15vh;
        z-index: 0;
        position:static;
    }

    #linkList a{     
        font-size: 16px;
    }

    #footerSection1{
        width: 100%;
        height: 50%;
    }
    
    #footerSection2{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
        justify-content: space-around;
        align-items: flex-start;
    
    }
    #footerSection2 h3{
        margin-top: 0%;
    }

    #landingQuote{
        font-size: 50px;
        width: 75%;
    }

    #ourTeamGridWrapper{
        display: grid;
        grid-template-columns: minmax(360px,1fr) minmax(360px,1fr) minmax(360px,1fr) ;
        grid-template-rows: 108px 140px 750px 60px 750px 60px 750px 145px;
        grid-template-areas: 
        "he na na"
        " oths oths oths"
        " ota1  ota2  ota3"
        ".. .. .."
        "ota4  ota5   ota6"
        ".. .. .. "
        "ota7  ota8  ota9"
        "fo fo fo"
        ;
    }

    #ourVisionTitle{
        font-size: 50px;
    }

    .ourTeamPictures{
        width: 75%;
        height: 60%;
    }

    .nameTitlesDescription{
        width: 90%;
        height: 30%;
        background-color: rgb(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #boxForAreYouNext{
        width: 70%;
        height: 20%;
    }

    #ourVisionGridWrapper{
        display: grid;
        grid-template-columns: minmax(180px,1fr) minmax(180px,1fr) minmax(180px,1fr) minmax(180px,1fr) minmax(180px,1fr) minmax(180px,1fr);
        grid-template-rows: 108px 650px 60px 550px 40px 550px 40px 550px 250px 145px;
        grid-template-areas: 
        "he he na na na na"
        "ova1 ova1 ova1 ova1 ova1 ova1"
        ".. .. .. .. .. .."
        "ova2 ova2 ova2 ova3 ova3 ova3"
        ".. .. .. .. .. .."
        "ova4 ova4 ova4 ova5 ova5 ova5"
        ".. .. .. .. .. .."
        "ova6 ova6 ova6 ova6 ova6 ova6"
        "ova7 ova7 ova7 ova7 ova7 ova7" 
        "fo fo fo fo fo fo"
        ;
    }

    #ourVisionPicture1{
        background-image: url(../img/picture_of_skyline.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .ourVisionBoxes h2{
        font-size: 30px;
    }

    #ourVisionArticle6{
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        position: static;
    }

    #ourVisionArticle5{
        margin-bottom: 0%;
    }


    #ourVisionArticle7{
        flex-direction: row;
    }

    .ourVisionsummerCampPictures{
        width: 27%; 
        height: 90%;
    }

    #ourVisionSummerCampBox{
        width: 15%;
        height: 16%;
        margin-left: 3%;
    }

    #summerCampHeading{
        font-size: 45px;
        margin-bottom: 0;
    } 

    #hireUsGridWrapper{
        grid-template-columns: minmax(385px,1fr) minmax(385px,1fr) minmax(385px,1fr);
        grid-template-rows: 108px 648px 36px 500px 130px 130px 130px 130px 36px 145px;
        grid-template-areas: 
        "he na na"
        "hsa1 hsa2 hsa2"
        ".. .. .."
        "hsa3 hsa4 hsa5 "
        "hsa6 hsa6 hsa6"
        "hsa7 hsa8 hsa9"
        "hsa10 hsa10 hsa10"
        ".. hsa11 .."
        " .. .. .."
        "fo fo fo"
        ;
    }
    #hireUsArticle1{
        position:static;
        margin-top: 0;
    }

    .hireUsTextBox h3{
        margin-top: 1%;
    }

    #hireUsContinueText{
        font-size: 25px;
    }
}

