*{  padding: 0;
    margin:0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

p{
    color: white;
}

*::-webkit-scrollbar {
    display: none;
}


body{
    background-color:  rgb(12, 43, 56); 
  
}

#landingGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 10vh 70vh 70vh 70vh 70vh 10vh;
    grid-template-areas: 
    "he na"
    "ar1I ar1I"
    "ar2I ar2I"
    "ar3I ar3I"
    "ar4I ar4I"
    "fo fo";
    
}

header{
    display: flex;
    grid-area: he;
    background-color: rgb(13, 56, 74); 
    align-items: center;
    justify-content: center;
}

footer{
    grid-area: fo;
    background-color: rgb(13, 56, 74);
    z-index: 8;
}

#companyTitle{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

nav{
    display: flex;
    grid-area: na;
    background-color: rgb(13, 56, 74);
    align-items: center;
    justify-content: flex-end;


}

#landingArticleWithPicture{
    display: flex;
    grid-area: ar1I;
    align-items: center;
    justify-content: center;
    z-index: 0;

}

#landingPicture{
    filter: blur(5px);
    height: 100%;
    width: 100%;
}

#landingQuote{
    color: white;
    position: absolute;
    font-size: 20px;
}

#landingArticle2{
    grid-area: ar2I;
}

.landingArticleDarkBox{
    width: 80%;
    height: 80%;
    background-color:rgb(0, 0, 0, 0.2);
    border: solid white 2px;
}


#landingArticle3{
    grid-area: ar3I;
}

#landingArticle4{
    grid-area: ar4I;
}

.landing3Articles{
    display: flex;
    align-items: center;
    justify-content: center;
}

#ourTeamGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 10vh 10vh 80vh 5vh 80vh 5vh 80vh 5vh 80vh 5vh 80vh 5vh 80vh 5vh 80vh 5vh 80vh 30vh 10vh;
    grid-template-areas:    
    "he na"
    "oths oths"
    "ota1 ota1"
    ".. .."
    "ota2 ota2"
    ".. .."
    "ota3 ota3"
    ".. .."
    "ota4 ota4"
    ".. .."
    "ota5 ota5"
    ".. .."
    "ota6 ota6"
    ".. .."
    "ota7 ota7"
    ".. .."
    "ota8 ota8"
    "ota9 ota9"
    "fo fo";
    
}

h2{
    color: white;
}

#ourTeamHeader{
    font-size: 30px;
}

#ourTeamHeaderSection{
    display: flex;
    grid-area: oths;
    justify-content: center;
    align-items: center;
    
}

#ourTeamArticle1{
    grid-area: ota1;

}

#ourTeamArticle2{
    grid-area: ota2;
}

#ourTeamArticle3{
    grid-area: ota3;
}

#ourTeamArticle4{
    grid-area: ota4;
}

#ourTeamArticle5{
    grid-area: ota5;
}

#ourTeamArticle6{
    grid-area: ota6;
}

#ourTeamArticle7{
    grid-area: ota7;
}

#ourTeamArticle8{
    grid-area: ota8;
}

#ourTeamArticle9{
    grid-area: ota9;
    justify-content: center;
}

.ourTeamArticles{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ourTeamPicture1{
    background-image: url(../img/picture_of_adam_nilsson_2.jpg);
}

#ourTeamPicture2{
    background-image: url(../img/picture_of_james_olsson.jpg);
}

#ourTeamPicture3{
    background-image: url(../img/picture_of_carl_brooker.jpg);
}

#ourTeamPicture4{
    background-image: url(../img/picture_of_axel_breitholtz.jpg);
}

#ourTeamPicture5{
    background-image: url(../img/picture_of_marius_dahlbom.jpg);
}

#ourTeamPicture6{
    background-image: url(../img/picture_of_matilda_bloom.jpg);
}

#ourTeamPicture7{
    background-image: url(../img/picture_of_wilmer_erixon.jpg);
}

#ourTeamPicture8{
    background-image: url(../img/picture_of_ebba_idmyr.jpg);
}

.ourTeamPictures{
    width: 75%;
    height: 60%;
    background-size:cover;
    margin-bottom: 5%;
    background-position: center;
}


.nameTitlesDescription{
    width: 90%;
    height: 35%;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid white 2px;
}

.nameTitlesDescription h2{ 
    margin-top: 5%;
    width: 90%;
}

.nameTitlesDescription p{
    color: white;
    margin-top: 5%;
    width: 80%;

}

#boxForAreYouNext{
    background-color: rgb(0, 0, 0, 0.2);
    width: 85%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid white 2px;
}

#boxForAreYouNext h2{
    font-size: 35px;
    margin-bottom: 2%;
}

#boxForAreYouNext p{
    color: white;
}

#burger{
    margin-right: 25px;
    z-index: 1;
}

/* code for Our Vision*/

#ourVisionGridWrapper{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 10vh 70vh 90vh 60vh 90vh 60vh 25vh 15vh;
    grid-template-areas: 
    "he na"
    "ova1 ova1"
    "ova2 ova2"
    "ova3 ova3"
    "ova4 ova4"
    "ova5 ova5"
    "ova7 ova7" 
    "fo fo"
    ;
}

.ourVisionArticles{
    display: flex;
    justify-content: center;
    align-items: center;

}

#ourVisionArticle1{
    grid-area: ova1;

}

#ourVisionPicture1{
        background-image: url(../img/picture_of_skyline.jpg);
        filter: blur(4px);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-x: -100px;
    }

#ourVisionTitle{
    position: absolute;
    font-size: 60px;
    background-color: rgb(13, 56, 74,0.5)
}

#ourVisionArticle2{
    grid-area: ova2;
}

#ourVisionpicture2{
    background-image: url(../img/picture_of_people_in_scycraper.jpg);
    background-size: cover;
    border: none;
    background-position-x: -200px;
}
.ourVisionBoxes{
    width:85%;
    height: 90%;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid white 2px;
}

.ourVisionBoxes p{
    margin-top: 5%;
    width:75%;
    font-size: 18px;
}

.ourVisionBoxes h2{
    margin-top: 7% ;
    font-size: 29px;
}

#ourVisionArticle3{
    grid-area: ova3;
}

#ourVisionArticle4{
    grid-area: ova4;
}

#ourVisionArticle5{
    grid-area: ova5;
    margin-bottom: -5%;
}


#ourVisionPicture3{
    background-image: url(../img/picture_of_people_in_class.jpg);
    border: none;
}

#ourVisionArticle6{
    display: flex;
    grid-area: ova6;
    width: 0%;
    height: 0%;
    position:absolute;
    top: -200px

}

#ourVisionArticle7{
    grid-area: ova7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourVisionsummerCampPictures{
    width: 90%;
    height: 27%;
    border: solid 2px white;
}

#ourVisionPicture4{
    background-image: url(../img/picture_of_teens_walking_on_campus.jpg);
    background-position-x: -100px;
}
#ourVisionPicture5{
    background-image: url(../img/picture_of_teen_pitching.jpg);
    background-position: -245px;

}
#ourVisionPicture6{
    background-image: url(../img/picture_of_group_of_teens.jpg);
    background-position: center;

}

#ourVisionSummerCampBox{
    background-color: rgb(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid 2px white;
    width: 33%;
    height: 16%;
}

#summerCampHeading{
    font-size: 30px;
    margin-bottom: 5%;
}


#burger div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px;
    border-radius: 2px;
}

#linkList{
    display: flex;
    top: -100%;
    position: absolute;
    height:100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgb(13, 56, 74, 0.99);
    z-index: 1;
    transition: 0.5s;
}

#linkList a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.linkListVisible{
    transform: translateY(100%);
}

.burgerInXForm #burgerLine1{
   transform: rotate(-45deg) translate(-5px, 6px);
   transition: all, 0.5s;
}
 
.burgerInXForm  #burgerLine2{
    opacity: 0;
}

.burgerInXForm  #burgerLine3{
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all, 0.5s;

}

@media screen and ( min-width: 700px){

    #burger{
        display: none;
    }

    #landingGridWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 15vh 105vh 90vh 25vh;
        grid-template-areas: 
        "he he na na na na"
        "ar1I ar1I ar1I ar1I ar1I ar1I"
        "ar2I ar2I ar3I ar3I ar4I ar4I"
        "fo fo fo fo fo fo"
        ;
    }

    #linkList{
        display: flex;
        flex-direction: row;
        top: 0;
        height: 15vh;
        z-index: 0;
        position:static;
        background-color: none;
    }

    #linkList a{     
        font-size: 16px;
    }

    #landingQuote{
        font-size: 50px;
    }

    #ourTeamGridWrapper{
        display: grid;
        grid-template-columns: minmax(350px,1fr) minmax(350px,1fr) minmax(350px,1fr) ;
        grid-template-rows: 15vh 20vh 120vh 5vh 120vh 5vh 120vh 25vh;
        grid-template-areas: 
        "he na na"
        " oths oths oths"
        " ota1  ota2  ota3"
        ".. .. .."
        "ota4  ota5   ota6"
        ".. .. .. "
        "ota7  ota8  ota9"
        "fo fo fo"
        ;
    }

    .ourTeamPictures{
        width: 75%;
        height: 60%;
    }

    .nameTitlesDescription{
        width: 90%;
        height: 30%;
        background-color: rgb(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #boxForAreYouNext{
        width: 70%;
        height: 20%;
    }

    #boxForAreYouNext p{
        color: white;
    }

    #ourVisionGridWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 15vh 90vh 10vh 105vh 5vh 105vh 5vh 85vh 50vh 25vh;
        grid-template-areas: 
        "he he na na na na"
        "ova1 ova1 ova1 ova1 ova1 ova1"
        ".. .. .. .. .. .."
        "ova2 ova2 ova2 ova3 ova3 ova3"
        ".. .. .. .. .. .."
        "ova4 ova4 ova4 ova5 ova5 ova5"
        ".. .. .. .. .. .."
        "ova6 ova6 ova6 ova6 ova6 ova6"
        "ova7 ova7 ova7 ova7 ova7 ova7" 
        "fo fo fo fo fo fo"
        ;
    }

    #ourVisionPicture1{
        background-image: url(../img/picture_of_skyline.jpg);
        filter: blur(4px);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-x: 0%;
    }

    .ourVisionBoxes p{
        font-size: 20px;
    }

    
    .ourVisionBoxes h2{
        font-size: 32px;
    }

    #ourVisionArticle6{
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        position: static;
    }

    #ourVisionArticle5{
        margin-bottom: 0%;
    }


    #ourVisionArticle7{
        flex-direction: row;
    }

    .ourVisionsummerCampPictures{
        width: 27%;
        height: 90%;
    }

    #ourVisionSummerCampBox{
        width: 15%;
        height: 16%;
        margin-left: 3%;
    }

    #summerCampHeading{
        font-size: 45px;
        margin-bottom: 0;
    }
    
    
}

